<header class="site-header">

    <div class="wrapper header-wrapper">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      {%- assign sorted_paths = page_paths | sort: "weight" -%}
      {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  
      {%- if titles_size > 0 -%}
      <nav class="site-nav">
          <a href="javascript:void(0);" class="menu-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <div class="menu">
            <a class="page-link" href="/about">About</a>
            <a class="page-link" href="/gallery">Gallery</a>
            <a class="page-link" href="/reviews">Reviews</a>

            <div class="drop-menu" onclick="void(0);">
              <div class="drop-menu-header page-link">Other Work <i class="arrow down"></i></div>
              <div class="menu-items">
                <a class="page-link" href="/workshop">Workshop Facilitator</a>
                <a class="page-link" href="/spokenword">Spoken Word</a>
                <a class="page-link" href="/audio">Audio</a>
                <a class="page-link" href="/puppetry">Puppetry</a>
                <a class="page-link" href="/blog">Blog</a>
              </div>
            </div>
            

            <a class="page-link" href="/contact">Contact</a>
          </div>

        </nav>
      {%- endif -%}
    </div>
  </header>