// Home
.home-image {
    width: 100vw;
    height: calc(100vh - 175px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/Home%20Page%203.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

    .image-content {
        display: flex;
        align-items: flex-end;
        height: 100%;
        max-width: 980px;
        padding-left: unset;
        padding-right: unset;
        align-items: center;
        max-width: 100%;
        .image-text {
            font-family: $title-font-family;
            color: $background-color;
            padding: $spacing-unit / 2;
            font-size: 60px;
            .image-subtext {
                font-size: 30px;
                background-color: #a7c5cd;
                color: $text-color;
                padding: $spacing-unit / 4;
                width: 240px;
            }
        }
    }
}

// Gallery
.gallery {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;

    li {
        height: 20vh;
        flex-grow: 1;
        position: relative;

        img {
            max-height: 100%;
            min-width: 100%;
            object-fit: cover;
            vertical-align: bottom;
        }

        span {
            display: none;
        }

        &:hover {
            span {
                display: block;
                position: absolute;
                background-color: #f8f8f8;
                opacity: 70%;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 0 20px;
            }
        }
    }

    li:last-child {
        flex-grow: 10;
    }
}

.gallery-overlay {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    align-items: center;
    justify-content: center;
    .gallery-image-container {
        position: relative;
        .close-button {
            position: absolute;
            right: 5px;
            top: 10px;
            span {
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
                z-index: 2;

                background: white;
                border-radius: 3px;
                border: 1px solid $text-color;

                &:first-child {
                    transform: translateY(11px) rotate(-45deg);
                }

                &:nth-child(2) {
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    transform: translateY(-9px) rotate(-45deg) translateX(1px);
                    border: none;
                }
            }
        }
        .prev-button,
        .next-button {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 20px;
            height: 30px;
            span {
                display: block;
                width: 18px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
                z-index: 2;

                background: white;
                border-radius: 3px;
                border: 1px solid $text-color;
            }
        }
        .prev-button {
            left: 0;

            span {
                &:first-child {
                    transform: rotate(-45deg);
                    // transform: translateY(11px) rotate(-45deg);
                }

                &:nth-child(2) {
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    transform: translateY(-20px) rotate(-45deg) translateX(1px);
                    // transform: translateY(-9px)  rotate(-45deg) translateX(1px);
                    border: none;
                }
            }
        }
        .next-button {
            right: 0;

            span {
                &:first-child {
                    transform: rotate(45deg);
                    // transform: translateY(11px) rotate(-45deg);
                }

                &:nth-child(2) {
                    transform: rotate(-45deg);
                }

                &:nth-child(3) {
                    transform: translateY(-22px) rotate(45deg) translateX(2px);
                    // transform: translateY(-9px)  rotate(-45deg) translateX(1px);
                    border: none;
                }
            }
        }
    }
}

body.overlay-open {
    overflow: hidden;
    .gallery-overlay {
        display: flex;
    }
}

// Images
img {
    &.left {
        float: left;
        margin-right: 1em;
    }
    &.right {
        float: right;
        margin-left: 1em;
    }
    &.center {
        display: block;
        margin: 30px auto;
    }
    &.small {
        min-width: 200px;
        width: 25%;
    }
    &.medium {
        width: 50%;
    }
    &.large {
        width: 100%;
    }
}

img.joined {
    &.left {
        float: left;
        margin: initial;
    }
    &.right {
        float: right;
        margin: initial;
    }
    &.small {
        width: 25%;
    }
    &.medium {
        width: 50%;
    }
    &.large {
        width: 100%;
    }
}

.source-title {
    text-align: end;
    @include relative-font-size(0.875);
}

.blockquote {
    position: relative;
    margin: 0.25em;
    padding: 0.35em 40px;
    font-style: italic;
}

.blockquote::before,
.blockquote::after {
    display: block;
    font-family: Georgia, serif;
    @include relative-font-size(4);
    position: absolute;
}

.blockquote::before {
    padding-left: 10px;
    content: "\201C";
    left: -20px;
    top: -20px;
}

.blockquote::after {
    padding-right: 10px;
    content: "\201D";
    right: -0;
    bottom: -50px;
}

.new-paragraph {
    clear: both;
}

.arrow {
    border: solid $text-color;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;

    &.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    &.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    &.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    &.down {
        transform: rotate(45deg) translateY(-3px);
        -webkit-transform: rotate(45deg) translateY(-3px);
    }
}

.youtube-embed {
    position: relative;
    padding-bottom: min(315px, 56.25%); /* 16:9 */
    height: 0;
    margin: 0 auto 20px;
    max-height: 315px;
    max-width: 561px;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 315px;
        max-width: 561px;
    }
}

@include media-query($on-laptop) {
    .home-image {
        .image-content {
            .image-text {
                font-size: 40px;
                .image-subtext {
                    font-size: 20px;
                    width: 150px;
                }
            }
        }
    }
}

@include media-query($on-palm) {
    .home-image {
        .image-content {
            .image-text {
                font-size: 30px;
                .image-subtext {
                    font-size: 16px;
                    width: 120px;
                }
            }
        }
    }

    img {
        &.left {
            float: unset;
            margin-right: unset;
        }
        &.right {
            float: unset;
            margin-left: unset;
        }
        &.small {
            width: 100%;
        }
        &.medium {
            width: 100%;
        }
        &.large {
            width: 100%;
        }
    }
}
