.home-image {
    display: block;
    width: 63%;
    margin-left: auto;
    margin-right: auto;
}

.home-image-text {
    margin-left: auto;
    margin-right: auto;
    width: 63%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    @include relative-font-size(4);
}

img {
    &.left {
        float: left;
        margin-right: 1em;
    } 
    &.right {
        float: right;
        margin-left: 1em;
    }
    &.small {
        min-width: 200px;
        width: 25%;
    }
    &.medium {
        width: 50%;
    }
    &.large {
        width: 100%
    }
 }
 
 img.joined {
     &.left {
         float: left;
         margin: initial;
     } 
     &.right {
         float: right;
         margin: initial;
     }
     &.small {
         width: 25%;
     }
     &.medium {
         width: 50%;
     }
     &.large {
         width: 100%
     }
 }
 
 
 .new-paragraph {
     clear: both;
 }
 
 @include media-query($on-palm) {
    .home-image, .home-image-text {
        width: 85%;
    }

    img {
        &.left {
            float: unset;
            margin-right: unset;
        } 
        &.right {
            float: unset;
            margin-left: unset;
        }
        &.small {
            width: 100%;
        }
        &.medium {
            width: 100%;
        }
        &.large {
            width: 100%;
        }
     }
}